*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
.header
{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
#log
{
    height: 50px;
    width: 80px;
    padding-left: 30px;
}
.india
{
    color: white;
}
.search
{
    display: flex;
    height: 30px;
    margin-top: 8px;
}
.search-icon
{
    background-color: #FEBD69;
    width: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.search select
{
    border-top-left-radius:8px;
    border-bottom-left-radius: 8px;
}

.search input
{
    width: 400px;
    border: none;
}
.search select
{
    background-color: #F3F3F3;
    border: none;
}
#glass
{
    margin-top: 6px;
    margin-left: 6px;
}
.nav-sign
{
    color: white;
    margin-top: 4px;
}

.nav-return
{
    color: white;
    margin-top: 4px;
}
.nav-cart
{
    color: white;
    margin-top: 10px;
}
.nav-cart i {
    font-size: 30px;
}


.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.search:hover {
    border: 2px solid #febd69;
    border-radius: 8px;
}
/* ------------ */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all
{
    margin-left: -550px;
}
.panel p {
    display: inline;
    padding: 10px;
}
.panel-ops {
    margin-left: -600px;
}
.panel-deals
{
    margin-right:-600px;
}



/* ------------------ */
.pan{
    background-image: url("image/hero_image.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
}
.text1
{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80%;
    margin-left: 130px;
    margin-right: 100px;
    margin-top:250px;
}

.text1 a{
    text-decoration: none;
}

/* ------------------------- */
.shop-section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E2E7E6;
    font-family: Arial;

}
.box
{
    background-color: white;
    height: 500px;
    margin-top: 20px;
}
.box-content h2
{
    margin-left: 20px;
    margin-top: 10px;
}

.box-img
{
    background-size: cover;
    height: 400px;
    width: 300px;
    margin: 20px;
}

.box-content p
{
    color:#007185;
    margin-left: 20px;
}

/* ------------------------- */
.back {
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}
.back a {
    text-decoration: none;
    color: white;
}
/* --------------------------- */
.foot1 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

/* ---------------------- */
.foot2
{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img
{
    height: 50px;
    width: 80px;
}

/* ----------------------------- */
.foot3 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}